<%= form_with(model: team, local: true) do |form| %>
  <% if team.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(team.errors.count, "error") %> prohibited this team from being saved:</h2>

      <ul>
      <% team.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label "Nome do Time" %>
    <%= form.text_field :teamname, id: :team_teamname %>

  </div>

    <div class="field">
      <%= form.label "Desenvolvedor 1" %>
      <%= form.text_field :user_id, id: :team_user_id %>
    </div>

    <div class="field">
      <%= form.label "Desenvolvedor 1" %>
      <%= select("", "user_id", User.all.collect {||}) :user_id, id: :team_user_id %>
    </div>



    <div class="field">
      <%= form.label "Desenvolvedor 2" %>
      <%= form.text_field :user_id, id: :team_user_id %>
    </div>

    <div class="field">
      <%= form.label "Desenvolvedor 3" %>
      <%= form.text_field :user_id, id: :team_user_id %>
    </div>

    <div class="field">
      <%= form.label "Desenvolvedor 4" %>
      <%= form.text_field :user_id, id: :team_user_id %>
    </div>

  <div class="actions">
    <%= form.submit "Salvar time" %>
  </div>
<% end %>
