<%= form_with(model: team, local: true) do |form| %>
  <% if team.errors.any? %>
    <div id="error_explanation">
      <%= render 'form', team: @team %>

      <ul>
      <% team.errors.full_messages.each do |message| %>
        <script>
          swal("<%= message %>","","error");
        </script>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.text_field :teamname, id: :team_teamname, placeholder: "Novo time" ,id: "new-team" %>

  </div>

  <div class="actions">
    <%= form.submit "Criar", id: "new-team-btn" %>
  </div>
<% end %>
