<div class="teams-body">
	<div class="teams-container">
		<p id="notice"><%= notice %></p>

		<div class="team-title">
			<div class="team-title-container">	
				<p>
 				 <%= link_to @team.teamname, edit_team_path(@team) %>
				</p>
			</div>
		</div>

		<%= render 'formnewdev', team: @team %>

		<div class="team-dev-container">
			<% @t.each do |t| %>
				<div class="team-dev">
				  <%= t.user.full_name %>
 				  <br>
				</div>
			<% end %>
		</div>



<%= link_to 'Editar', edit_team_path(@team) %> |
<%= link_to 'Todos os Usuários', users_path %> |
<%= link_to 'Todos os Times', teams_path %>
<%= link_to 'Voltar', teams_path %>
