<p id="notice"><%= notice %></p>

<h1>Directions</h1>

<table>
  <thead>
    <tr>
      <th>Nome da diretoria</th>
      <th>PMO</th>
      <th>Cargo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @directions.each do |direction| %>
      <tr>
        <td><%= direction.name_d %></td>
        <td><%= direction.pmo %></td>
        <td><%= direction.office %></td>
        <td><%= link_to 'Ver', direction %></td>
        <td><%= link_to 'Mostrar', edit_direction_path(direction) %></td>
        <td><%= link_to 'Deletar', 
        direction, method: :delete, data: { confirm: 'Tem certeza que deseja excluir essa diretoria?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nova Direção', new_direction_path %>
