<p id="notice"><%= notice %></p>

<h1>Diretorias</h1>

<table>
  <thead>

  </thead>

  <tbody>

      <tr>
        <td><%= link_to 'Diretoria de Gestão de Pessoas', gp_path %></td>
      </tr>
      <tr>
        <td><%= link_to 'Diretoria de Gestão de Marketing', marketing_path %></td>
      </tr>
      <tr>
        <td><%= link_to 'Diretoria de Gestão de Financeiro', financeiro_path %></td>
      </tr>
      <tr>
        <td><%= link_to 'Diretoria de Gestão de Projetos', projetos_path %></td>
      </tr>
      <tr>
        <td><%= link_to 'Diretoria de Gestão de Presidência', presidencia_path %></td>
      </tr>



  </tbody>
</table>

<br>
