<div class="body body-light">
	<div class="body-light-container">

		<p id="notice"><%= notice %></p>

		<div class="title title-dark">
			<div class="title-container">
				<h1>Diretorias</h1>
			</div>
		</div>
		
		<%= link_to 'Nova Diretoria', new_direction_path, id:"new-btn" %>

		<table>
		  <thead>
		    <tr>
   		   <th>Name d</th>
   		   <th>Pmo</th>
   		   <th>Office</th>
  		   <th colspan="3"></th>
 		   </tr>
		  </thead>

		  <tbody>
		    <% @directions.each do |direction| %>
		      <tr>
   		    	<td><%= direction.name_d %></td>
		        <td><%= direction.pmo %></td>
 		        <td><%= direction.office %></td>
   		      <td><%= link_to 'Show', direction %></td>
     			  <td><%= link_to 'Edit', edit_direction_path(direction) %></td>
		        <td><%= link_to 'Destroy', direction, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  		    </tr>
		    <% end %>
		  </tbody>
		</table>

		<br>


	</div>
</div>
