<div class="project-form">

<%= form_with(model: task, local: true) do |form| %>
  <% if task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label "Título" %>
    <%= form.text_field :title, id: :task_title %>
  </div>

  <div class="field">
    <%= form.label "Conteúdo" %>
    <%= form.text_field :content, id: :task_content %>
  </div>

  <div class="concluido">
    <%= form.label "Concluído" %>
    <%= form.check_box :done, id: :task_done %>
  </div>

  <div class="form-actions">
    <%= form.submit "Alterar", id:"create-btn" %>
  </div>
<% end %>

</div>
