  <body class="body-light">
    <div class="body-light-container">

  <p id="notice"><%= notice %></p>

  <h1>Tarefas</h1>

  <table>
    <thead>
      <tr>
        <th>Título</th>
        <th>Conteúdo</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
          <% @tasks.each do |task| %>
                <tr>
                  <td><%= task.title %></td>
                  <td><%= task.content %></td>
                  <td><%= check_box :confirmation, false, id: :user_front %></td>


                  <% if current_user.admin == true %>


                    <td><%= check_box :done, false, id: :user_front %></td>

		  <tbody>
		    <% @tasks.each do |task| %>
		      <tr>
		        <td><%= task.title %></td>
		        <td><%= task.content %></td>
		        <td><%= radio_button :ativo, false, id: :user_front %></td>
		        <td><%= radio_button :ativo, false, id: :user_front %></td>
		        <td class="table-btn">
							<%= link_to 'Ver', task, id:"show-btn" %>
		       	  <%= link_to 'Editar', edit_task_path(task), id:"edit-btn" %>
		        	<%= link_to 'Deletar', task, method: :delete, data: { confirm: 'Are you sure?' }, id:"destroy-btn" %>
						</td>
		      </tr>
		    <% end %>
		  </tbody>
		</table>
		</div>

                  <% end %> 
                  <% if task.confirmation == false %>
                    <td>A fazer</td>
                  <% else %>
                    <td> Validando </td>
                  <% end %>
                  <% if current_user.admin == true %>
                    <% if task.confirmation == true && task.done == false %>
                      <td>A validar</td>
                    <% else %>
                      <td>Concluída</td>
                    <% end %>
                        
                    <% end %>  
                        
       
              <td><%= link_to 'Ver', task %></td>
              <td><%= link_to 'Editar', edit_task_path(task) %></td>
              <td><%= link_to 'Deletar', task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
    </tbody>
  </table>
<%= link_to 'Nova Tarefa', new_task_path %>

	</div>
</body>
