  <body class="body-light">
    <div class="body-light-container big-body-container">

 			 <% if (notice) %>
					<script>
						swal("<%= notice %>","","error");
					</script>
				<% end %>

			<div class="title title-dark">
				<div class="title-container">
 					<h1>Tarefas</h1>
				</div>
			</div>

			<%= link_to 'Nova Tarefa', new_task_path, id:"new-btn" %>

	<div class="multi-table">
  <table>
    <thead>
      <tr>
        <th>Título</th>
        <th colspan="5"></th>
      </tr>
    </thead>
		  <tbody>
		    <% @tasks.each do |task| %>
		      <tr>
		        <td><%= task.title %></td>
		        <td><%= check_box :confirmation, false, id: :user_front %></td>
            		<% if current_user.admin == true %>
              		<td><%= check_box :done, false, id: :user_front %></td>
            		<% end %> 
                  <% if task.confirmation == false %>
                    <td>A fazer</td>
                  <% else %>
                    <td> Validando </td>
                  <% end %>
                  <% if current_user.admin == true %>
                    <% if task.confirmation == true && task.done == false %>
                      <td>A validar</td>
                    <% else %>
                      <td>Concluída</td>
                    <% end %>
                        
                   <% end %>  

		        <td class="table-btn">
							<%= link_to 'Ver', task, id:"show-btn" %>
		       	  <%= link_to 'Editar', edit_task_path(task), id:"edit-btn" %>
		        	<%= link_to 'Deletar', task, method: :delete, data: { confirm: 'Are you sure?' }, id:"destroy-btn" %>
						</td>
		      </tr>
		    <% end %>
		  </tbody>
		</table>
		</div>              
       


	</div>
</body>
