<body class="body-light">
  <div class="body-light-container">
<p id="notice"><%= notice %></p>

<p>
  <strong>Título:</strong>
  <%= @task.title %>
</p>

<p>
  <strong>Conteúdo:</strong>
  <%= @task.content %>
</p>

<p>
  <strong>Concluído:</strong>
  <%= @task.done %>
</p>

<%= link_to 'Editar', edit_task_path(@task) %> |
<%= link_to 'Voltar', tasks_path %>
</div>
</body>