<body class="body-light">
  <div class="body-light-container">
	<% if (notice) %>
		<script>
			<p id="notice"><%= notice %></p>
		</script>
	<% end %>


	<div class="title title-dark">
		<div class="title-container">
		<h1><%= @task.title %></h1>
		</div>
	</div>

	<div class="info">
		<div class="info-container">
			<p>
			  <strong>Conteúdo:</strong>
			  <%= @task.content %>
			</p>

			
			
			<div class="info-actions">
				<%= link_to 'Editar', edit_task_path(@task), id:"info-btn" %> 
				<%= link_to 'Voltar', tasks_path, id:"info-btn" %>
			</div>
		</div>
	</div>

  </div>
</body>
