	<div class="body-dark">
	
		<section>
			<div class="login-nav">
				<div class="login-nav-container">
					<div class="login-register-button style-button"><%= link_to "Cadastrar", new_user_path %></div>
				</div>
			</div>
		</section>
		
		<section class="login-section">
	
			<div class="title-light">
				<div class="title-light-container">
				<h1>INformativo</h1>
				</div>
			</div>
			
			<%= form_for :session, url: :login, html: {class: "login-container"} do |form| %>
		
			  <%= form.email_field :email, :placeholder => "E-mail", id: "email" %>
			  
			  <%= form.password_field :password, :placeholder => "Senha", id: "password"  %>
			  <div class="login-actions">
			  	<%= form.submit "Entrar", id: "login-btn" %>
			  </div>
			<% end %>
			
			<p><%= link_to "Esqueceu a senha?", reset_password_path %></p>	
		</section>
		
	</div>
