<body class="body-light">
  <div class="body-light-container">
    <section class="edit-container">

    <div class="title title-dark">
      <div class="title-container">
        <h1>Editar perfil</h1>
      </div>
    </div>

    <%= form_with(model: user, local: true, html:{class: "register-container"}) do |form| %>
      
      <% if user.errors.any? %>
        <div id="error_explanation">
          <ul>
            <% user.errors.full_messages.each do |message| %>
              <script>
                swal("<%= message %>","","error");
              </script>
            <% end %>
          </ul>
        </div>
      <% end %>

      
      <%= form.text_field :full_name, id: :user_full_name, :placeholder => "Nome completo", id: "name" %>
      <%= form.text_field :email, id: :user_email, :placeholder => "E-mail", id:"email" %>
     
      <div class="esp">
	<table class="esp-table">
		<tr>
			<td>Front</td>
			<td>Back</td>
		</tr>
		<tr>
			<td> 
 	     		<%= form.radio_button :frontend, true, id: :frontend %>
			</td>
			<td> 
 	     		<%= form.radio_button :frontend, false, id: :frontend %>
			</td>
		</tr>
	</table>
     </div> 

	 <label for="user_avatar" class="user_avatar"><i class="fa fa-upload"></i> Altere sua foto</label>
         <%= form.file_field :avatar, id: :user_avatar %>

      <% if current_user.admin == true %>
        <%= form.label "Deseja INativar este user?" %>
        <%= form.check_box :ativo, id: :ativo %>
        <%= form.label "Deseja tornar esse usuário PMO?" %>
        <%= form.check_box :pmo, { id: :pmo }, true, false %>
        <%= form.label "Deseja tornar esse usuário administrador?" %>
        <%= form.check_box :admin, { id: :admin }, true, false %>
      
      <% end %>

      


      <div class="edit-actions">
        <%= form.submit "Alterar", id: "edit-actions-btn" %>
	<%= link_to 'Cancelar', @user, id: "cancel-btn" %>
      </div>
    <% end %>
    
   </section>    
    
  </div>
</body>
