  <section class="register-section">

    <div class="title title-light">
      <div class="title-container">
        <h1>INformativo</h1>
      </div>
    </div>
    <%= form_with(model: user, local: true, html:{class: "register-container"}) do |form| %>

      <% if user.errors.any? %>
        <div id="error_explanation">
          <ul>
            <% user.errors.full_messages.each do |message| %>
              <script>
                swal("<%= message %>","","error");
              </script>
            <% end %>
          </ul>
        </div>
      <% end %>

      <%= form.text_field :full_name, id: :user_full_name, :placeholder => "Nome completo", id: "name" %>
      <%= form.text_field :email, id: :user_email, :placeholder => "E-mail", id:"email" %>

			<div class="esp">
			<table class="esp-table">
				<tr>
					<td>Front</td>
					<td>Back</td>
				</tr>
				<tr>
					<td> 
 	     		<%= form.radio_button :frontend, id: :user_front %>
					</td>
					<td> 
 	     		<%= form.radio_button :frontend, id: :user_front %>
					</td>
				</tr>
				</table>
       			</div>

			<label for="user_avatar" class="user_avatar"><i class="fa fa-upload"></i> Escolha sua foto</label>
			<%= form.file_field :avatar, id: :user_avatar %>

    	<%= form.password_field :password, id: :usuario_password, :placeholder => "Senha", id:"password" %>
    	<%= form.password_field :password_confirmation, id: :usuario_password_confirmation,
		 :placeholder => "Confirmação de senha", id: "confirmation" %>


	    <div class="register-actions">
        <%= form.submit "Cadastrar", id: "register-btn" %>
      </div>

    <% end %>

    <p><%= link_to "Já possui uma conta?", login_path %></p>

  </section>
