<div class="register-body">
  <section class="register-section">
    <div class="title">
      <div class="title-container">
        <h1>INformativo</h1>
      </div>
    </div>
    <%= form_with(model: user, local: true, html:{class: "register-container"}) do |form| %>
      
      <% if user.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>
          <ul>
            <% user.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      
      <%= form.text_field :full_name, id: :user_full_name, :placeholder => "Nome completo", id: "name" %>
      <%= form.text_field :email, id: :user_email, :placeholder => "E-mail", id:"email" %>
  	  <%= form.password_field :password, id: :usuario_password, :placeholder => "Senha", id:"password" %>
  	  <%= form.password_field :password_confirmation, id: :usuario_password_confirmation, :placeholder => "Confirmação de senha", id: "confirmation" %>
      <%= form.label "Front-end" %>
      <%= form.radio_button :frontend, true, id: :user_front %>
      <%= form.label "Back-end" %>
      <%= form.radio_button :backend, false, id: :user_front %>
      <%= form.file_field :avatar, id: :user_avatar %>
      <% if current_user.admin == true %>
        <%= form.label "Deseja INativar este user?" %>
        <%= form.radio_button :ativo, false, id: :user_front %>
        <%= form.label "Deseja tornar esse usuário PMO?" %>
        <%= form.radio_button :pmo, false, id: :user_front %>
      
      <% end %>


      <div class="register-actions">
        <%= form.submit "Alterar", id: "register-btn" %>
      </div>
    <% end %>
    
    
    
  </section>
</div>
