<div class="body-dark">
  <section class="register-section">

    <div class="title-light">
      <div class="title-light-container">
        <h1>INformativo</h1>
      </div>
    </div>
    <%= form_with(model: user, local: true, html:{class: "register-container"}) do |form| %>
      
      <% if user.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>
          <ul>
            <% user.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      
      <%= form.text_field :full_name, id: :user_full_name, :placeholder => "Nome completo", id: "name" %>
      <%= form.text_field :email, id: :user_email, :placeholder => "E-mail", id:"email" %>

    	<%= form.password_field :password, id: :usuario_password, :placeholder => "Senha", id:"password" %>
  	<%= form.password_field :password_confirmation, id: :usuario_password_confirmation,
		 :placeholder => "Confirmação de senha", id: "confirmation" %>
      <%= form.file_field :avatar, id: :user_avatar, id:"avatar" %>

      
	<div class="register-actions">
        <%= form.submit "Cadastrar", id: "register-btn" %>
      </div>

    <% end %>
    
    <p><%= link_to "Já possui uma conta?", login_path %></p> 
    
  </section>
</div>
