<body class="body-light">
	<div class="body-light-container">
	
		<div class="title title-dark">
			<div class="title-container">
				<h1>Perfil</h1>
			</div>
		</div>
	
		<div class="profile info">
			<div class="profile info-container">
				<div class="profile-img">
					<% if !@user.avatar.file.nil? %>
						<%= image_tag @user.avatar.thumb.url %>
					<% end %>
				</div>
				<p>
					<strong>Nome completo:</strong>
					<%= @user.full_name %>
				</p>
	
				<p>
  					<strong>Email:</strong>
 					<%= @user.email %>
				</p>
			</div>

			<div class="info-actions">
				<%= link_to 'Editar', edit_user_path(@user) , id: "info-btn"%>

				<%= link_to 'Todos os Usuários', users_path , id: "info-btn"%>
     	
			</div>
		</div>

	</div>
</body>

