<div class="project-form">

<%= form_with(model: project, local: true) do |form| %>
  <% if project.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% project.errors.full_messages.each do |message| %>
        <script>
          swal("<%= message %>","","error");
        </script>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label "Nome" %>
    <%= form.text_field :name, id: :project_name %>
  </div>


  <div class="field">
    <%= form.label "Descrição" %>
    <%= form.text_field :description, id: :project_description %>
  </div>

  <div class="field">
    <%= form.label "Prazo" %>
    <%= form.date_select :deadline, id: :project_deadline %>
  </div>

  <div class="field">
    <%= form.label "PMO" %>
    <%= select("project", :pmo, @pmos) %>
  </div>

  <div class="field">
    <%= form.label "Gerente" %>
    <%= form.text_field :manager, id: :project_manager %>
  </div>

  <div class="field">
    <%= form.label "Escolha o time" %>
    <%= form.select(:team_id, @teams.collect { |team| [team.teamname, team.id] },
       {include_blank: "Time"}) %>
  </div>

  <div class="field">
    <%= form.label "Trello" %>
    <%= form.text_field :trello, id: :project_trello %>
  </div>

  <div class="form-actions new-project-actions">
	  <%= form.submit "Criar projeto", id: "create-btn" %>
  </div>
  <% end %>

</div>
