<body class="body-light">
	<div class="body-light-container projects-body-container">

		<p id="notice"><%= notice %></p>

		<div class="title title-dark">
			<div class="title-container">
				<h1>Projetos</h1>
			</div>
		</div>

		<%= link_to 'Novo Projeto', new_project_path, id:"new-btn" %>

		<div class="multi-table">
			<table>
				<thead>
					<tr>
						<th>Nome</th>
						<th>Prazo</th>
						<th>PMO</th>
						<th>Gerente</th>
						<th></th>
						<th colspan="1"></th>
					</tr>
				</thead>

				<tbody>
					<% @projects.each do |project| %>
					<tr>
						<td><%= project.name %></td>
						<td><%= project.deadline %></td>
						<td><%= project.pmo %></td>
						<td><%= project.manager %></td>
						<td><blockquote class="trello-board-compact">
						<a href=<%= project.trello %>>Trello Board</a>
					  </blockquote>
					  <script src="https://p.trellocdn.com/embed.min.js"></script></td>
						<td class="table-btn">
							<%= link_to 'Ver', project, id: "show-btn" %>
							<%= link_to 'Editar', edit_project_path(project) , id: "edit-btn" %>
							<%= link_to 'Deletar', project, method: :delete, data: { confirm: 'Confirmar exclusão?' }, id: "destroy-btn"%>
						</td>
					</tr>
					<% end %>
				</tbody>
			</table>
		</div>
	</div>
</body>
