<body class="body-light">
	<div class="body-light-container">

		<div class="title title-dark">
			<div class="title-container">
				<h1>
					<%= @project.name %>
				</h1>
			</div>
		</div>

		<div class="projects info">
			<p>
			  <strong>Prazo:</strong>
			  <%= @project.deadline %>
			</p>

			<p>
			  <strong>PMO:</strong>
			  <%= @project.pmo %>
			</p>

			<p>
			  <strong>Gerente:</strong>
			  <%= @project.manager %>
			</p>
  
			<div class="info-actions">
				<%= link_to 'Editar', edit_project_path(@project), id:"info-btn" %>
				<%= link_to 'Voltar', projects_path, id:"info-btn" %>
			</div>
	
		</div>

	</div>
</body>
