<body class="body-light">
	<div class="body-light-container big-body-container">

		<script>
			swal("<%= notice %>","","error");
		</script>

		<div class="title title-dark">
			<div class="title-container">
				<h1>Metas</h1>
			</div>
		</div>

		<%= link_to 'Nova Meta', new_goal_path, id:"new-btn" %>

		<div class="multi-table">
			<table>
			  <thead>
			    <tr>
			      <th>Título</th>
			      <th>Início</th>
						<th>Fim</th>
						<th>Status</th>
						<th colspan="1"></th>
					</tr>
  			</thead>

			  <tbody>
					<% @goals.each do |goal| %>
					<tr>
						<td><%= goal.title %></td>
						<td><%= goal.start %></td>
						<td><%= goal.deadline %></td>
						<td><%= goal.status %></td>
						<td class="table-btn">
								<%= link_to 'Ver', goal, id:"show-btn" %>
								<%= link_to 'Editar', edit_goal_path(goal), id:"edit-btn" %>
								<%= link_to 'Deletar', goal, method: :delete, data: { confirm: 'Confirmar exclusão?' }, id:"destroy-btn" %>
						</td>
					</tr>
					<% end %>
			  </tbody>
		</table>
	</div>

<%# render 'formconcluid', goal: @goal %>


</div>
</body>
