<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @goal.description %>
</p>

<p>
  <strong>Start:</strong>
  <%= @goal.start %>
</p>

<p>
  <strong>Deadline:</strong>
  <%= @goal.deadline %>
</p>

<p>
  <strong>Status:</strong>
  <%= @goal.status %>
</p>

<p>
  <strong>Title:</strong>
  <%= @goal.title %>
</p>

<%= link_to 'Edit', edit_goal_path(@goal) %> |
<%= link_to 'Back', goals_path %>
