<!DOCTYPE html>
<html>
  <head>
    <title>INformativo</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    </head>
      <body>
	<div class="casulo">
	<% if logged_in? %>
		<%= render "layouts/header"%>
	
	<% end %>

	<%= render "layouts/avisos" %>
      
	<%= yield %>
	
	</div>
	
	<% if logged_in? %>
		<%= render "layouts/footer" %>
	<% end %>
    
      <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </body>
</html>
